<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http:ww/www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Superhero Sightings | Locations Detailed</title>

	<!-- custom css -->
	<link th:href="@{/location.css}" rel="stylesheet">
    </head>
    <body>
	<header>
	    <h1>Locations</h1>
	</header>
	<main>
	    <div id="nav-links">
		<a href="../home">Home</a>
		<a href="../super">Superheroes and Villains</a>
		<a href="../superpower">Superpowers</a>
		<a href="../organization">Organizations</a>
		<a href="../location">Locations</a>	
		<a href="../sighting">Sightings</a>
	    </div>
	    <div id="locations-info">
		<h2 th:text="${location.name}">Name</h2>
		<p th:text="${location.description}">Desc</p>
		<hr>
		<h3>Address</h3>
		<p th:text="${location.address}">Addr</p>
		<h3>Coordinates</h3>
		<p th:text="${location.latitude} + '°N, ' + ${location.longitude} + '°W'">Coord</p>
	    </div>
	    <a th:href="${location.id} + '/edit'">Edit</a>
	    <a th:href="${location.id} + '/delete-confirm'">Delete this location</a>
	</main>
    </body>
</html>
