<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http:ww/www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Superhero Sightings | Superheroes Detailed</title>

	<!-- custom css -->
	<link th:href="@{/super.css}" rel="stylesheet">
    </head>
    <body>
	<header>
	    <h1>Superheroes and Villains</h1>
	</header>
	<main>
	    <div id="nav-links">
		<a href="../home">Home</a>
		<a href="../super">Superheroes and Villains</a>
		<a href="../superpower">Superpowers</a>
		<a href="../organization">Organizations</a>
		<a href="../location">Locations</a>	
		<a href="../sighting">Sightings</a>
	    </div>
	    <div id="supers-info">
		<div class="supers-info-init">
		    <h2 th:text="${super.name} + ' | HERO'" th:if="${super.isHero}">Super</h2>
		    <h2 th:text="${super.name} + ' | VILLAIN'" th:if="${!super.isHero}">Super</h2>
		    <p th:text="${super.description}">Desc</p>
		</div>	
		<div class="supers-info-powers">
		    <h2>Superpowers</h2>
		    <div class="supers-info-powers-list">
			<div class="supers-info-powers-list-item" th:each="power : ${super.superpowers}">
			    <form th:action="${super.id} + '/removePower/' + ${power.id}" method="POST">
				<h3 th:text="${power.name}">Power</h3>
				<button type="submit">Remove Power</button>
			    </form>
			</div>
		    </div>
		    <form th:action="${super.id} + '/addPower'" method="POST">
			<select name="powerIdStr">
			    <option th:each="power : ${powers}" th:value="${power.id}" th:text="${power.name}">power</option>
			</select>
			<button type="submit">Add Superpower</button>
		    </form>
		</div>
		<div class="supers-info-orgs">
		    <h2>Organizations</h2>
		    <div class="supers-info-orgs-list">
			<div class="supers-info-orgs-list-item" th:each="org : ${super.organizations}">
			    <form th:action="${super.id} +'/removeOrganization/' + ${org.id}" method="POST">
				<h3 th:text="${org.name}">Org</h3> 
				<button type="submit">Remove Organization</button>
			    </form>
			</div>
		    </div>
		    <form th:action="${super.id} + '/addOrg'" method="POST">
			<select name="organizationIdStr">
			    <option th:each="org : ${orgs}" th:value="${org.id}" th:text="${org.name}">Org</option>
			</select>
			<button type="submit">Add Organization</button>
		    </form>
		</div>
	    </div>
	    <a th:href="${super.id} + '/edit'">Edit</a>
	    <a th:href="${super.id} + '/delete-confirm'">Delete this super</a>
	</main>
    </body>
</html>
