* {
    font-family: monospace; 
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 2em;
}

header h1 {
    font-size: 4em;
}

#nav-links {
    font-size: 1.2em;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 3em;
    margin: 1em 0;
    height: 41px;
}

a {
    text-decoration: none;
    font-size: 1em;
    transition: all 1s cubic-bezier(0.16, 0.91, 0.19, 1.01);
}

a:hover, a:focus {
    font-size: 1.2em;
}

#intro-par {
    border: 1px solid black;
    padding: 1em;
    text-align: left;
}

p {
    font-size: 1.2em;
}
/*
For some reason, these hrs get hidden 
with their heights set to 0
*/
#intro-par + hr {
    background-color: black;
    height: 1px;
    margin: 1em 0;
}

#intro-par + hr + h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

#latest-sightings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2em; 
}

.sighting {
    border: 1px solid black;
    padding: 1em;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-row-gap: 1em;
}

.sighting-super {
    border: 1px solid black;
}

.sighting-super h3 {
    font-size: 1.5em;
}

.sighting-super h4 {
    font-size: 1.2em;
}

.sighting-more {
    border: 1px solid black;
    padding-top: 1.2em;
    text-decoration: none;
}